# API URL
REACT_APP_API_URL=http://hashd.local:3002
REACT_APP_VAULT_API_URL=http://hashd.local:3004

# Network Configuration
REACT_APP_CHAIN_ID=31337
REACT_APP_RPC_URL=http://hashd.local:8545

# Storage Contracts (Eternal)
REACT_APP_MESSAGE_STORAGE=
REACT_APP_KEY_STORAGE=
REACT_APP_ACCOUNT_STORAGE=
REACT_APP_POST_STORAGE=
REACT_APP_USER_PROFILE_STORAGE=
REACT_APP_GROUP_FACTORY_STORAGE=

# Logic Contracts (Upgradeable)
REACT_APP_KEY_REGISTRY=
REACT_APP_ACCOUNT_REGISTRY=
REACT_APP_HASHD_TAG=
REACT_APP_MESSAGE_CONTRACT=
REACT_APP_USER_PROFILE=
REACT_APP_GROUP_POSTS_DEPLOYER=
REACT_APP_GROUP_COMMENTS_DEPLOYER=
REACT_APP_BONDING_CURVE_DEPLOYER=
REACT_APP_GROUP_FACTORY=
REACT_APP_DEPLOYMENT_REGISTRY=
